<!-- _head.html -->
<!doctype html>
<html lang="@@LANG@@">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="avi.png"/>
    <title>@@TITLE@@</title>
    <link rel="stylesheet" href="./style.css"/>
  </head>
  <body>
    <header>
      <h1>@@TITLE@@</h1>
      <nav>
        <a href="index.html">homepage</a> &middot;
        <a href="https://cadadr.dreamwidth.org">blog</a>
      </nav>
    </header>
