/* styling for the linkblog */

article.linkblog {
    border-top: 1px dotted;
}

article.linkblog p.date {
    font-family: Monospace;
    font-size: .9em;
    text-align: right;
}

article.linkblog div.comment {
    width: 90%;
    margin: auto;
    font-family: DejaVu Sans Condensed, Sans Serif;
    font-size: .95em;
    line-height: 1;
    text-align: justify;
}

